version 17.4R1.16;
system {
    host-name r3;
    root-authentication {
        encrypted-password "$6$rB5kPIFJ$91QMtJeCLoVn1o.TN5fPMhQF44MyQXrN0yfMn4Br6lasdBcdyX.XuHE7zYdAC8t4M07icNaSjlusHlVdu4Bxy."; ## SECRET-DATA
        ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6NF8iallvQVp22WDkTkyrtvp9eWW6A8YVr+kz4TjGYe7gHzIw+niNltGEFHzD8+v1I2YJ6oXevct1YeS0o9HZyN1Q9qgCgzUFtdOKLv6IedplqoPkcmF0aYet2PkEDo3MlTBckFXPITAMzF8dJSIFo9D8HfdOV0IAdx4O7PtixWKn5y2hMNG0zQPyUecp4pzC6kivAIhyfHilFR61RGL+GPXQ2MWZWFYbAGjyiYJnAmCP3NOTd0jMZEnDkbUvxhMmBYSdETk1rRgm+R4LOzFUGaHqHDLKLX+FIPKcF96hrucXzcWyLbIbEgE98OHlnVYCzRdK8jlqm8tehUc9c9WhQ== vagrant insecure public key"; ## SECRET-DATA
    }
    login {
        user vagrant {
            uid 2000;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6NF8iallvQVp22WDkTkyrtvp9eWW6A8YVr+kz4TjGYe7gHzIw+niNltGEFHzD8+v1I2YJ6oXevct1YeS0o9HZyN1Q9qgCgzUFtdOKLv6IedplqoPkcmF0aYet2PkEDo3MlTBckFXPITAMzF8dJSIFo9D8HfdOV0IAdx4O7PtixWKn5y2hMNG0zQPyUecp4pzC6kivAIhyfHilFR61RGL+GPXQ2MWZWFYbAGjyiYJnAmCP3NOTd0jMZEnDkbUvxhMmBYSdETk1rRgm+R4LOzFUGaHqHDLKLX+FIPKcF96hrucXzcWyLbIbEgE98OHlnVYCzRdK8jlqm8tehUc9c9WhQ== vagrant insecure public key"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            root-login allow;
        }
        netconf {
            ssh;
        }
        rest {
            http {
                port 8080;
            }
            enable-explorer;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    extensions {
        providers {
            juniper {
                license-type juniper deployment-scope commercial;
            }
            chef {
                license-type juniper deployment-scope commercial;
            }
        }
    }
}
interfaces {
    em0 {
        unit 0 {
            family inet {
                dhcp;
            }
        }
    }
    em1 {
        unit 0 {
            family inet {
                address 169.254.0.2/24;
            }
        }
    }
    em3 {
        unit 0 {
            family inet {
                address 10.173.176.103/24;
            }
            family inet6 {
                address 2001:db8:7:1::103/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.3.0.103/32;
            }
        }
    }
}
routing-options {
    rib inet.0 {
        static {
            route 10.0.0.0/8 discard;
            route 172.16.0.0/12 discard;
            route 192.168.0.0/16 discard;
            /* my-prefixes */
            route 10.3.0.0/16 discard;
            route 10.23.0.0/16 discard;
        }
    }
    router-id 10.3.0.103;
    autonomous-system 65003;
}
protocols {
    bgp {
        group ebgp-to-rs {
            neighbor 10.173.176.211 {
                authentication-key "$9$.mQn/9pBRSApxNdb2gfTQz/CuO1"; ## SECRET-DATA
                export advertise-my-prefixes;
                peer-as 64686;
            }
        }
    }
}
policy-options {
    prefix-list my-prefixes {
        10.3.0.0/16;
    }
    policy-statement advertise-my-prefixes {
        term 1 {
            from {
                protocol static;
                prefix-list-filter my-prefixes exact;
            }
            then accept;
        }
        term 2 {
            then reject;
        }
    }
}
